<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span><img src="../downloads/PantherLogo.jpeg"></span> -->
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-container mat-elevation-z8">
  <mat-table #table matSort matPaginator [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let columns; columns: displayedColumns;" (click)="showDetails(row.username)"></mat-row>
  </mat-table>

  <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>

<h2>User List</h2>
<ul class="users">
  <li *ngFor="let user of users"
    [class.selected]="user === selectedUser"
    (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.username}}
  </li>
</ul>

<app-user-details [user]="selectedUser"></app-user-details>

<!-- <div class="col-md-6">
  <h2> User Details</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td></td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>
  </div> -->